.footer {
  background-color: #fff;
  z-index: 2;
  position: relative;
}

.footer .footer-top {
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer .logo {
  margin-bottom: 25px;
}

.footer .logo img {
  width: 170px;
}

.footer .f-about {
  padding-right: 30px;
}

.footer .f-about p {
  color: #777;
  font-size: 14px;
  display: block;
  line-height: 27px;
}

.footer .f-about .footer-social {
  margin-top: 35px;
}

.footer .f-about .footer-social ul {
}

.footer .f-about .footer-social ul li {
  display: inline-block;
  margin-right: 6px;
}

.footer .f-about .footer-social ul li:last-child {
  margin: 0;
}

.footer .f-about .footer-social ul li a {
  font-size: 14px;
  color: #333;
  height: 35px;
  width: 35px;
  text-align: center;
  display: block;
  border: 1px solid #eee;
  line-height: 35px;
  background: #3e54ff;
  border: none;
  color: #fff;
}

.footer .f-about .footer-social ul li a:hover {
  background: #333;
  color: #fff;
}

.footer .newsletter-form {
  padding: 41px;
  border: 1px solid #eee;
}

.footer .newsletter-form form {
}

.footer .newsletter-form input {
  width: 400px;
  border-bottom: 3px solid #eee;
  color: #333;
  height: 60px;
  display: inline-block;
  border: none;
  border: 2px solid #eee;
  border-radius: 0;
  font-weight: 500;
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 0px 20px;
}

.footer .newsletter-form .button {
  display: inline-block;
  width: 100%;
}

.footer .newsletter-form .button .btn {
  height: 60px;
  width: 100%;
  display: block;
  margin-top: 14px;
}

.footer .footer-middle {
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer .single-footer {
  margin-top: 30px;
}

.footer .single-footer h3 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 25px;
}

/* Footer Link */
.footer .f-link ul li {
  margin-bottom: 13px;
  position: relative;
}

.footer .f-link ul li:last-child {
  margin: 0;
}

.footer .f-link ul li:hover:before {
  background: #333;
}

.footer.index2 .f-link ul li:hover:before {
  background: #333;
}

.footer .f-link ul li:last-child {
  margin-bottom: 0px;
}

.footer .f-link ul li a {
  display: inline-block;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.footer .f-link ul li a:hover {
  color: #3e54ff;
  padding-left: 5px;
}

/* Footer Contact */
.footer .f-contact {
}

.footer .f-contact p {
  color: #555;
  margin-bottom: 20px;
  line-height: 30px;
}

.footer .f-contact ul {
}

.footer .f-contact ul li {
  display: inline-block;
  color: #555;
  font-size: 14px;
  font-weight: 400;
}

.footer .f-contact ul li a {
  display: inline-block;
  color: #555;
  font-size: 14px;
  font-weight: 500;
  font-weight: 400;
}

.footer .f-contact ul li a:hover {
  padding: 0;
}

.footer .f-contact ul li a i {
}

.footer .f-contact ul li i {
  display: inline-block;
  margin-right: 7px;
  font-size: 17px;
  color: #3e54ff;
}

.footer .custom-flex {
  margin-right: -15px;
}

.footer .custom-flex li {
  width: calc(33.33% - 15px);
  margin-bottom: 15px;
  margin-right: 15px;
}

.footer .gallery ul {
  margin-left: -10px;
  overflow: hidden;
}

.footer .gallery ul li {
  float: left;
  margin: 10px 0 0 10px;
  padding: 0;
}

.footer .gallery ul li a {
  position: relative;
}

.footer .gallery ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #3e54ff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .gallery ul li a:hover:before {
  opacity: 0.8;
  visibility: visible;
}

.footer .gallery ul li a i {
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}

.footer .gallery ul li a:hover i {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.footer .gallery ul li img {
  width: 100px;
  height: 100px;
}

.footer .footer-bottom {
}

.footer .footer-bottom .inner {
  padding: 30px 0;
  border-top: 2px solid #eee;
}

.footer .footer-bottom p {
  color: #555;
}

.footer .footer-bottom p a {
  font-weight: 400;
  display: inline-block;
  margin-left: 6px;
  color: #333;
}

.footer .footer-bottom p a:hover {
  color: #3e54ff;
}

.footer .footer-bottom .left {
}

.footer .footer-bottom .right {
  text-align: right;
}
